<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<title>Table-free form layout</title>
<meta http-equiv="content-type"
    content="text/html; charset=utf-8" />
<style>
    input.txt {
        color: #00008B;
        background-color: #E3F2F7;
        border: 1px inset #00008B;
        width: 200px;
    }
    input.btn {
        color: #00008B;
        background-color: #ADD8E6;
        border: 1px outset #00008B;
    }
    form div {
        clear: left;
        margin: 0;
        padding: 0;
        padding-top: 0.6em;
    }
    form div label {
        float: left;
        width: 40%;
        font: bold 0.9em Arial, Helvetica, sans-serif;
    }
</style>
</head>
<table>
<table bgcolor="#00bfff" border='2' width='480px' cellpadding='0' cellspacing='0' align='center'>
<td><h1 face="Alfa Slab One"><b>Registration Form For Student</b></h1></td><br>
<form method="post" >
   </table>
    {% csrf_token %}
    </tr>
<table bgcolor="#f4a460" border='2' width='480px' cellpadding='0' cellspacing='0' align='center'>
        <td><h3><b><label for="username">Username:</label></b></h3></td>
    <td>{{ form.username }}</td>
        {{ form.username.errors }}
{#        <input type="text" name="username" id="username" class="txt" />#}
</tr>
    </div>
    <div>
        <td><h3><b><label for="first_name">first_name:</label></b></h3></td>
        <td>{{ form.first_name }}</td>
        {{ form.first_name.errors }}
{#        <input type="text" name="first_name" id="first_name" class="txt" />#}
        </tr>
    </div>
    <div>
        <td><h3><b><label for="last_name">last_name:</label></b></h3>
        <td>{{ form.last_name }}</td>
        {{ form.last_name.errors }}
{#        <input type="text" name="last_name" id="last_name" class="txt" />#}
        </tr>
    </div>
    <div>
        <td><h3><b><label for="email">Email Address:</label></b></h3>
        <td>{{ form.email }}</td>
        {{ form.email.errors }}
{#        <input type="text" name="email" id="email" class="txt" />#}
        </tr>
    </div>
    <div>
        <td><h3><b><label for="phonenumber">phone number:</label>
        <td>{{ form.phonenumber }}</td>
        {{ form.phonenumber.errors }}
{#    <input type="text" name="phonenumber" id="phonenumber" class="txt" />#}
        </tr>
    </div>
    <div>
       <td><h3><b><label for="gender">gender:</label></b></h3>
        <input type="radio" name="gender" id="gender" value="female" /><span>Female</span>
        <input type="radio" name="gender" value="male" /><span>Male</span></td>
        </tr>
    </div>
    <div>
       <td><h3><b><label for="city">select a city</b></h3>
        <select name="city" id="city">
            <option selected="#" value="Default" disabled>select a option</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Chennai">Chennai</option>
            <option value="Andhrapradesh">Andhrapradesh</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Bangalore">Bangalore</option>
        </select></td>
        </tr>
    </div>
    <div>
       <td><h3><b> <label for="password">Password:</label></b></h3>
       <td> {{ form.password }}</td>
        {{ from.password.errors }}
{#        <input type="password" name="password" id="password" />#}
        </tr>
    </div>
    <div>
        <td><h3><b><label for="password1">Confirm Password:</label></b></h3>
        <td>{{ form.password1 }}</td>
        {{ form.password1.errors }}
{#        <input type="password" name="password1" id="password1" />#}
        </tr>
    </div>
    <div>
        <td><h3><b><input type="checkbox" name="terms" value="conditions"></b></h3>I Accept the terms and conditions
        <td>{{ form.checkbox }}</td>
        {{ form.checkbox.errors }}
        </tr>

    </div>
    <div>

        <td><h3><b><p>already have an account click here to login</p></b></h3>
        <td><a class="btn btn-warning" name="btnsubmit" href="{% url 'user_login' %}">Login</a>
    </div>
    </table>
    <div>
        <table border='5' cellpadding='5' cellspacing='7' width='480px' align='center'>
    <tr bgcolor="#2f4f4f"  background="yellow">

    <td align='center'><h3><b><input type='submit' name='Sign Up!' value="Sign Up!"></b></h3></td>
</tr>
    </div>
</table>
</form>
</body>
</html>
