{% extends 'base.html' %}

{% block content %}
     <table bgcolor="#008b8b" border='4' width='480px' cellpadding='0' cellspacing='0' align='center'>
  <td><h3>Forgot password</h3></td>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <table bgcolor="#b22222" border='4' width='480px' cellpadding='0' cellspacing='0' align='center'>
<tr>
    <td><button type="submit" align='center'>Submit</button></tr></td>
      </table>
  </form>
    </tr>
{% endblock %}
</table>
</table>